{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
    <div class="table-responsive">
                <ul class="list-group">
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/1">Fishery, Agriculture & Forestry</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/2">Foods</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/3">Mining</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/4">Oil and Coal Products</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/5">Construction</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/6">Metal Products</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/7">Glass and Ceramics Products</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/8">Textiles and Apparels</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/9">Pulp and Paper</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/10">Chemicals</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/11">Pharmaceutical</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/12">Rubber Products</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/13">Transportation Equipment</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/14">Iron and Steel</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/15">Nonferrous Metals</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/16">Machinery</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/17">Electric Appliances</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/18">Precision Instruments</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/19">Other Products</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/20">Information & Communication</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/21">Services</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/22">Electric Power and Gas</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/23">Land Transportation</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/24">Marine Transportation</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/25">Air Transportation</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/26">Warehousing and Harbor Transportation</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/27">Wholesale Trade</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/28">Retail Trade</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/29">Banks</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/30">Securities and Commodities Futures</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/31">Insurance</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/32">Other Financing Business</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="/sector/33">Real Estate</a>
                  </li>
                </ul>
    </div>
{% endblock %}