{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
<title>{{ sectorname }} - Kaisha.X</title>
<meta content="{{sectorname}} - Sector - Kaisha.X" name="title">
<meta content="This provides corporation information on a {{ period }} base" name="description">

<meta property="og:type" content="article"/>
<meta property="og:title" content="ogpのタイトル. <title>と文章も文字数も同じにする。"/>
<meta property="og:description" content="ogpの本文。<meta name='description'>と同じにする。" />
<meta property="og:image" content="" />
<meta property="og:url" content="/about" />
<meta property="og:site_name" content="KaishX"/>

{% endblock %}

{% block page_content %}

<h2>{{ sectorname }} ({{ count_annual }})</h2>
{{ macros.select_kpi_sector("/sector", period, sectorcode) }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Report Date</th>
                <th>Report Type(Fiscal</th>
                <th>{{sort_key}}</th>
            </tr>
        </thead>
        <tbody>
            {% for document in result %}
            <tr>
                <td>{{ counter.increment() }}</td>
                <td><a href="/corporation/{{ document['code'] }}">{{document["name"]}}</a></td>
                <td>{{ document['report_date'] }}</td>
                <td>{{ document['type_of_period'] }}</td>
                <td>{{document[sort_key]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


