{% macro create_table_for_element(document, element, sort_dict_value, sort_dict_key, format_element_name) %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                {% for key in sort_dict_key(document[element]) %}
                    <th>
                    {% if key.find("NonConsolidatedMember") %}
                        {{ key.split('_')[0] }} <br> {{ key.split('_')[1] }}
                    {% else %}
                        {{ key }}
                    {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="row_index">
                    {{ format_element_name(element) }}
                </td>
                {% for value in sort_dict_value(document[element]) %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endmacro %}


{% macro create_table_for_index_page(title, link_more, result,count, get_element, db_annual, db_sector) %}
        <h2>{{ title }} ({{count}})</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Conpany Name</th>
              <th>Report Date</th>
              <th>Sector</th>
            </tr>
          </thead>
          <tbody>
            {% for document in result %}
                <tr>
                    <td>
                        <a href='./corporation/{{document["code"]}}'>
                        {{get_element(document,"jpcrp_cor:CompanyNameInEnglishCoverPage","FilingDateInstant")}}
                        </a>
                    </td>
                    <td>
                        <a href='./corporation/{{document["code"]}}/quarter_report?file_name={{get_element(document, "file_name")}}'>
                        {{get_element(document,"report_date")}}
                        </a>
                    </td>
                    <td>
                        {{ db_annual.get_sector(document["code"],db_sector) }}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="button" class="btn btn-link" href="{{link_more}}">More</button>

{% endmacro %}

{% macro paging(base_url, page, total_page) %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page > 0 %}
        <li class="page-item">
          <a class="page-link" href="{{base_url}}?page={{page-1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %}
        {% if page > 2 %}
            <li class="page-item"><a class="page-link" href="{{base_url}}?page={{page-3}}">{{page-3}}</a></li>
            <li class="page-item"><a class="page-link" href="{{base_url}}?page={{page-2}}">{{page-2}}</a></li>
            <li class="page-item"><a class="page-link" href="{{base_url}}?page={{page-1}}">{{page-1}}</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href={{base_url}}?page={{page}}>{{page}}</a></li>
        <li class="page-item"><a class="page-link" href={{base_url}}?page={{page+1}}>{{page+1}}</a></li>
        <li class="page-item"><a class="page-link" href={{base_url}}?page={{page+2}}>{{page+2}}</a></li>
        <li class="page-item"><a class="page-link" href={{base_url}}?page={{page+3}}>{{page+3}}</a></li>
        <li class="page-item">
          <a class="page-link" href="{{base_url}}?page={{page+1}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
{% endmacro %}