{% macro create_table_for_element(document, element,element_name,    sort_dict_value, sort_dict_key, format_element_name, is_element_exist) %}
    {% if is_element_exist(document, element) %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                {% for key in sort_dict_key(document[element]) %}
                    <th>
                    {% if key.find("NonConsolidatedMember") %}
                        {{ key.split('_')[0] }} <br> {{ key.split('_')[1] }}
                    {% else %}
                        {{ key }}
                    {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="row_index">
                    {{ element_name }}
                </td>
                {% for value in sort_dict_value(document[element]) %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {% endif %}
{% endmacro %}


{% macro create_table_for_index_page(title, doc_type, result,count, get_element, db_annual, db_sector) %}
        <h2>{{ title }} ({{count}})</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Conpany Name</th>
              <th>Report Date</th>
              <th>Sector</th>
            </tr>
          </thead>
          <tbody>
            {% for document in result %}
                <tr>
                    <td>
                        <a href='./corporation/{{document["code"]}}'>
                        {{get_element(document,"jpcrp_cor:CompanyNameInEnglishCoverPage","FilingDateInstant")}}
                        </a>
                    </td>
                    <td>
                        <a href='./corporation/{{document["code"]}}/{{doc_type}}?file_name={{get_element(document, "file_name")}}'>
                        {{get_element(document,"report_date")}}
                        </a>
                    </td>
                    <td>
                        {{ db_annual.get_sector(document["code"],db_sector) }}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="button" class="btn btn-link" href="{{link_more}}">More</button>

{% endmacro %}

{% macro paging(base_url, page, total_page, sort_key, year) %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page > 0 %}
        <li class="page-item">
          <a class="page-link" href="{{base_url}}?sort_key={{ sort_key }}&page={{page-1}}&year={{year}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %}
        {% if page > 2 %}
            <li class="page-item"><a class="page-link" href="{{base_url}}?sort_key={{ sort_key }}&page={{page-3}}&year={{year}}">{{page-3}}</a></li>
            <li class="page-item"><a class="page-link" href="{{base_url}}?sort_key={{ sort_key }}&page={{page-2}}&year={{year}}">{{page-2}}</a></li>
            <li class="page-item"><a class="page-link" href="{{base_url}}?sort_key={{ sort_key }}&page={{page-1}}&year={{year}}">{{page-1}}</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="{{base_url}}?sort_key={{ sort_key }}&page={{page}}&year={{year}}">{{page}}</a></li>
        <li class="page-item"><a class="page-link" href="{{base_url}}?sort_key={{ sort_key }}&page={{page+1}}&year={{year}}">{{page+1}}</a></li>
        <li class="page-item"><a class="page-link" href="{{base_url}}?sort_key={{ sort_key }}&page={{page+2}}&year={{year}}">{{page+2}}</a></li>
        <li class="page-item"><a class="page-link" href="{{base_url}}?sort_key={{ sort_key }}&page={{page+3}}&year={{year}}">{{page+3}}</a></li>
        <li class="page-item">
          <a class="page-link" href="{{base_url}}?sort_key={{ sort_key }}&page={{page+1}}&year={{year}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
{% endmacro %}

{% macro select_year(url) %}
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Year
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{url}}?year=2018">2018</a>
        <a class="dropdown-item" href="{{url}}?year=2017">2017</a>
        <a class="dropdown-item" href="{{url}}?year=2016">2016</a>
        <a class="dropdown-item" href="{{url}}?year=2015">2015</a>
      </div>
    </div>
{% endmacro %}{