{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
    <div class="table-responsive">
        {% for ranking_by_sector in rankings_by_rate_of_return_on_equity %}
            {% if counter.count % 3 == 1 %}
                <div class="row">
            {% endif %}
                    <div class="col">
                        <h4>{{ ranking_by_sector[0]['Sector'] }}</h4>
                        <table class="table  table-sm">
                            <thead>
                                <td>Name</td>
                                <td>Report Date</td>
                                <td>{{sort_key}}</td>
                            </thead>
                            <tbody>
                        {% for ranking in ranking_by_sector %}
                            <tr>
                                <th><a href="/corporation/{{ranking['code']}}">{{ranking['name']}}</a></th><td>{{ranking['report_date']}}</td><td>{{ ranking[sort_key] }}</td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
            {% if counter.count % 3 == 0 %}
                </div>
            {% endif %}
            <!-- {{counter.increment()}} -->
        {% endfor %}

        {{ macros.create_table_for_index_page("Annual Report", "annual_report", result_annual,count_annual, get_element, db_annual, db_sector) }}
        {{ macros.create_table_for_index_page("Quarter Report", "quarter_report", result_quarter_2,count_quarter_2, get_element, db_annual, db_sector) }}
        {{ macros.create_table_for_index_page("Half Year Report", "half_year_report", result_half_year,count_half_year, get_element, db_annual, db_sector) }}

    </div>
{% endblock %}