{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
<title>What's new - Kaisha.X</title>
<meta content="What's new - Coporation - Kaisha.X" name="title">
<meta content="This provides corporation information on a {{ period }} base" name="description">

<meta property="og:type" content="article"/>
<meta property="og:title" content="ogpのタイトル. <title>と文章も文字数も同じにする。"/>
<meta property="og:description" content="ogpの本文。<meta name='description'>と同じにする。" />
<meta property="og:image" content="" />
<meta property="og:url" content="/about" />
<meta property="og:site_name" content="KaishX"/>

{% endblock %}
{% block page_content %}
    <div class="table-responsive">
        {{ macros.create_table_for_index_page("Annual Report", "annual_report", result_annual,count_annual, get_element, db_annual, db_sector) }}
        {{ macros.create_table_for_index_page("Quarter Report", "quarter_report", result_quarter_2,count_quarter_2, get_element, db_annual, db_sector) }}
    </div>
{% endblock %}