{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
<title>Homepage - Kaisha.X</title>
<meta content="Homepage - Kaisha.X" name="title">
<meta content="This provides corporation information on a {{ period }} base" name="description">

<meta property="og:type" content="article"/>
<meta property="og:title" content="ogpのタイトル. <title>と文章も文字数も同じにする。"/>
<meta property="og:description" content="ogpの本文。<meta name='description'>と同じにする。" />
<meta property="og:image" content="" />
<meta property="og:url" content="/about" />
<meta property="og:site_name" content="KaishX"/>

{% endblock %}

{% block page_content %}
    <div class="table-responsive">
        <div class="alert alert-warning" role="alert">
            Before you use this website, please read <a href="/readme">Read me</a> page.
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
        </div>
        {% for ranking_by_sector in rankings_by_rate_of_return_on_equity %}
            {% if counter.count % 3 == 1 %}
                <div class="row">
            {% endif %}
                    <div class="col">
                        <h4>{{ ranking_by_sector[0]['Sector'] }}</h4>
                        <table class="table  table-sm">
                            <thead>
                                <td>Name</td>
                                <td>Report Date</td>
                                <td>{{sort_key}}</td>
                            </thead>
                            <tbody>
                        {% for ranking in ranking_by_sector %}
                            <tr>
                                <th><a href="/corporation/{{ranking['code']}}">{{ranking['name']}}</a></th><td>{{ranking['report_date']}}</td><td>{{ ranking[sort_key] }}</td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
            {% if counter.count % 3 == 0 %}
                </div>
            {% endif %}
            <!-- {{counter.increment()}} -->
        {% endfor %}
    </div>
{% endblock %}